[run]source = scriptsomit =    scripts/scheduler.py    scripts/cleanup_old_data.py    scripts/monitoring/*    scripts/transformation/generate_analytics.py    scripts/transformation/load_warehouse.py[report]exclude_lines =    if __name__ == .__main__.    pragma: no cover